@page
@model RP.Pages.Jobs.JobListModel
@{ ViewData["Title"] = "Job List"; }

<h1 id="joblisth1">@ViewData["Title"]</h1>

<form class="Form" id="joblistform" method="get">
    <table>
        <tbody>
            <tr>
                <th><label for="SearchTerm">Search</label></th>
                <td><input type="search" name="SearchTerm" id="SearchTerm" value="@Model.SearchTerm"></td>
            </tr>
            <tr>
                <th><label for="SortColumn">Sort by</label></th>
                <td>
                    <select asp-for="SortColumn" asp-items="Model.SortColumnList">
                        <option></option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="search1">
        <button class="Btn" type="submit">Search</button>
    </div>
</form>

<form method="post" style="display: inline">
    <div class="search"> <button type="submit">Available jobs within 100 km</button>
</div>
</form>

<div class="tableResponsive">
    <table class="Table2">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Jobs[0].Position)</th>
                <th>@Html.DisplayNameFor(m => m.Jobs[0].Department)</th>
                <th>@Html.DisplayNameFor(m => m.Jobs[0].JobLocation)</th>
                <th>@Html.DisplayNameFor(m => m.Jobs[0].Salary)</th>
                <th>@Html.DisplayNameFor(m => m.Jobs[0].ContractTerm)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Jobs)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Position)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.JobLocation)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ContractTerm)
    </td>
    <td>
        <a class="Btn2" asp-page="../Applications/Details" asp-route-id="@item.ID">Apply</a>
    </td>
</tr>
}
        </tbody>
    </table>
</div>